@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and Base Styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* Prevent scrolling on full screen app - disabled to allow instructions scroll */
  background-color: #050b14;
  /* Match app background */
  color: white;
}